#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	background-color: antiquewhite;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: #ef1e24;
	border: 2px solid #180000;
	border-radius: 10px;
	padding: 2rem;
}
/* style for circles on top of the pokedex */
.circle {
	width: 100px;
	height: 100px;
	background-color: white;
	border-radius: 50%;
	position: absolute;
	top: 1rem;
	left: 1rem;
	border: 3px solid black;
}

.in-circle {
	width: 70px;
	height: 70px;
	background-color: rgb(66, 66, 151);
	border-radius: 50%;
	position: absolute;
	top: 1.95rem;
	left: 1.95rem;
	border: 3px solid black;
}

.in-circle2 {
	width: 25px;
	height: 25px;
	background-color: rgb(215, 215, 232);
	border-radius: 50%;
	position: absolute;
	top: 2.7rem;
	left: 2.7rem;
}

.circle2 {
	width: 25px;
	height: 25px;
	background-color: rgb(255, 25, 0);
	border-radius: 50%;
	position: absolute;
	top: 1rem;
	left: 8rem;
	border: 2px solid black;
}

.circle3 {
	width: 25px;
	height: 25px;
	background-color: rgb(255, 255, 0);
	border-radius: 50%;
	position: absolute;
	top: 1rem;
	left: 10rem;
	border: 2px solid black;
}

.circle4 {
	width: 25px;
	height: 25px;
	background-color: rgb(25, 190, 0);
	border-radius: 50%;
	position: absolute;
	top: 1rem;
	left: 12rem;
	border: 2px solid black;
}
/* queries for responsive */
@media screen and (max-width: 505px) {
	.input-search-box {
		margin-top: 9rem;
	}
}

@media screen and (min-width: 506px) {
	.input-search-box {
		margin-top: 6rem;
	}
}

/* searchbar style */
.custom-input {
	padding: 1rem;
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	text-transform: capitalize;
	background-color: rgb(103, 243, 122);
	color: black;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.47);
	border: 1px solid rgba(0, 0, 0, 0.483);
	border-right: 0px;
	width: 12.4rem;
}

/*  poké card style */
.poke-card {
	margin-top: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	text-transform: capitalize;
	background-color: rgb(128, 245, 144);
	color: black;
	box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.47);
	border: 1px solid rgba(0, 0, 0, 0.483);
	width: 16.4rem;
	border-radius: 5px;
}

.custom-card-holder {
	background-color: rgba(26, 25, 27, 0.393);
	padding-inline: 4rem;
	border-radius: 10px;
}

.custom-card-image {
	animation: bounce 2s infinite;
}

/* animation for image to bounce */
@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}
	40% {
		transform: translateY(-12px);
	}
	60% {
		transform: translateY(-5px);
	}
}

.search-logo {
	color: rgba(0, 0, 0, 0.391);
	border-left: 0;
	font-size: 1.5rem;
}

.search-button {
	padding: 1rem;
	background-color: rgb(85, 204, 101);
	color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.47);
	border: 1px solid rgba(0, 0, 0, 0.483);
	border-left: 0px;
	width: 4rem;
}

.input-search-box {
	width: 16.4rem;
	display: flex;
	align-items: stretch;
}

.decorative-bottom {
	width: 200px;
	height: 10px;
	border: 2px solid rgba(0, 0, 0, 0.604);
	border-radius: 5px;
	margin-top: 2rem;
}
