#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

body {
	background-color: rgb(193, 67, 67);
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.card {
	padding: 2em;
}

.custom-input {
	padding: 1rem;
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	text-transform: capitalize;
	background-color: antiquewhite;
	color: black;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.47);
	border: 1px solid rgba(0, 0, 0, 0.483);
	border-right: none;
	width: 15rem;
}

.poke-card {
	margin-top: 1rem;
	padding: 1rem;
	font-size: 1.5rem;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	text-transform: capitalize;
	background-color: antiquewhite;
	color: black;
	box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.47);
	border: 1px solid rgba(0, 0, 0, 0.483);
	width: 16.4rem;
	border-radius: 5px;
}

.custom-card-image {
	background-color: rgba(26, 25, 27, 0.393);
	padding-inline: 4rem;
	border-radius: 10px;
}

.search-logo {
	color: rgba(0, 0, 0, 0.391);
	border-left: 0;
	font-size: 1.5rem;
}

.search-button {
	padding: 1rem;
	background-color: antiquewhite;
	color: black;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	box-shadow: 4px 2px 15px -3px rgba(0, 0, 0, 0.47);
	border: 1px solid rgba(0, 0, 0, 0.483);
	border-left: none;
}

.input-search-box {
	display: flex;
	align-items: stretch;
}
